# Build folders

bin/
obj/

# BenchmarkDotNet

BenchmarkDotNet.Artifacts/

# Visual Studio

.vs/
*.user
*.suo

# Rider / VSCode

.idea/
.vscode/

# Build outputs

*.dll
*.exe
*.pdb

# Cache / Logs

*.cache
*.log

# NuGet

*.nupkg
*.nuget
project.assets.json

# OS files

.DS_Store
Thumbs.db
